*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:nth-child(1){
    background-color: rgb(238, 185, 185);
}

.container:nth-child(2){
    background-color: rgb(185, 238, 192);
}