*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    overflow: hidden;
}

.one{
    background-color: rgb(238, 185, 185);
}


.two{
    background-color: rgb(185, 238, 192);
}